<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S2IT Simple CRUD using Angular.js and VanillaCSS</title>
	<link rel="stylesheet" href="assets/css/s2it.css" media="all" />
</head>
<body ng-app="TasksTest">

	<header id="header" role="banner">
		<div class="wrapper">
			<h1 class="logo">
				<picture>
					<source media="(max-width: 700px)" srcset="assets/img/logo_s2it_small.png" />
					<source media="(min-width: 700px)" srcset="assets/img/logo_s2it.png" />
					<!-- Fallback for legacy browsers -->
					<img src="assets/img/logo_s2it.png" alt="S2IT" />
				</picture>
			</h1>
		</div>
	</header>

	<section id="main" role="main" ng-controller="TaskMgmt">
		<div class="wrapper relative-container">
			
			<div class="search" role="search">
				<form action=""><input type="search" placeholder="Search..." class="input-text" ng-model="search" /></form>
			</div>

			<table class="grid">
				<thead>
					<th>Done?</th>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr ng-repeat="task in filtered = (list | filter: search)">
						<td>
							<input type="checkbox" aria-label="Task {{ task.name }} is done?" ng-checked="task.done" ng-model="task.done" ng-click="finishTask($index, task.done)" />
						</td>
						<td>{{ task.name }}</td>
						<td>{{ task.description }}</td>
						<td class="actions">
							<a href="#" ng-click="editTask(task.id)"><img src="assets/img/icon-edit.png" alt="Edit" /></a>
							<a href="#" ng-click="deleteTask(task.id)"><img src="assets/img/icon-trash.png" alt="Delete" /></a>
						</td>
					</tr>
					<tr ng-hide="filtered.length > 0">
						<td colspan="4">No results</td>
					</tr>
				</tbody>
				<tfoot ng-if="filtered.length > 0">
					<tr>
						<td colspan="4">
							Total <output>{{ filtered.length }} itens</output>
						</td>
					</tr>
				</tfoot>
			</table>

			<div class="add_register">
				<button class="button default" ng-click="addTask()">Add</button>
			</div>

		</div>

		<div class="override" ng-show="showModal || showModalDelete || loading">
			<div class="modal" modal="showModal" ng-show="showModal">
				<header>
					<h2>{{ edit ? "Edit" : "Add" }}</h2>
				</header>
				<form novalidate name="frmTask">
					<input type="hidden" name="taskID" ng-model="taskID" />

					<div class="input_container" ng-class="{ 'invalid': (frmTask.taskName.$invalid && frmTask.taskName.$touched), 'valid': frmTask.taskName.$valid }">
						<label for="taskName" class="hidden">Task Name:</label>
						<input type="text" name="taskName" id="taskName" ng-model="name" placeholder="Name" class="input-text" required />
						<div role="alert" ng-show="frmTask.$submitted || frmTask.taskName.$touched">
							<p class="error" ng-show="frmTask.taskName.$error.required">Enter a valid task name. This field cannot be blank.</p>
						</div>
					</div>

					<div class="input_container" ng-class="{ 'invalid': (frmTask.taskDescription.$invalid && frmTask.taskDescription.$touched), 'valid': frmTask.taskDescription.$valid }">
						<label for="taskName" class="hidden">Task Description:</label>
						<input type="text" name="taskDescription" id="taskDescription" ng-model="description" placeholder="Description" class="input-text" required />
					<div role="alert" ng-show="frmTask.$submitted || frmTask.taskDescription.$touched">
						<p class="error" ng-show="frmTask.taskDescription.$error.required">Enter a valid description. This field cannot be blank.</p>
					</div>
					
					</div>

					<div class="buttons">
						<button type="button" class="button default" ng-show="frmTask.taskName.$valid && frmTask.taskDescription.$valid" ng-click="updateTask(taskID, frmTask)">{{ edit ? "Edit" : "Add" }}</button>
						<button type="reset" class="button success" ng-click="cancel(frmTask)">Cancel</button>
					</div>
				</form>
			</div>

			<div class="modal" modal="showModalDelete" ng-show="showModalDelete">
				<header>
					<h2>Delete</h2>
				</header>
				<form novalidate="novalidate" id="frmAdd">
					<p>Do you confirm?</p>
					<div class="buttons">
						<button class="button default" ng-click="confirmDeleteTask(taskID)">Yes</button>
						<button class="button success" ng-click="cancel(null, 'Delete')">No</button>
					</div>
				</form>
			</div>

			<div class="modal" modal="loading" ng-show="loading">
				<p class="loading"><span>&#128259;</span></p>
			</div>
		</div>
	</section>

	<footer role="contentinfo">
		<address class="wrapper">
			<ul class="social-icons">
				<li><a href="https://www.facebook.com/somosS2IT" target="_blank"><img src="assets/img/icon-facebook.png" alt="Facebook" /></a></li>
				<li><a href="https://www.linkedin.com/company/s2it" target="_blank"><img src="assets/img/icon-linkedin.png" alt="Linkedin" /></a></li>
				<li><a href="https://twitter.com/somosS2IT" target="_blank"><img src="assets/img/icon-twitter.png" alt="Twitter" /></a></li>
				<li><a href="https://plus.google.com/u/0/109599832055497705598/about" target="_blank"><img src="assets/img/icon-gplus.png" alt="Google+" /></a></li>
			</ul>
		</address>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
	<script src="assets/js/tasks.js"></script>
</body>
</html>