<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>S2IT Test</title>
	<link rel="stylesheet" href="assets/css/s2it.css" media="all" />
</head>
<body ng-app="TasksTest">

	<header id="header" role="banner">
		<div class="wrapper">
			<h1 class="logo"><img src="assets/img/logo_s2it.png" alt="S2IT" /></h1>
		</div>
	</header>

	<section id="main" role="main" ng-controller="TaskMgmt">
		<div class="wrapper relative-container">
			
			<div class="search" role="search">
				<form action=""><input type="search" placeholder="Search..." class="input-text" ng-model="search" /></form>
			</div>

			<table class="grid">
				<thead>
					<th>Done?</th>
					<th>Name</th>
					<th>Description</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr ng-repeat="task in tasks.taskList | filter:search" ng-hide="tasks.taskList.length = 0">
						<td>
							<input type="checkbox" checked="{{ task.status }}" />
						</td>
						<td>{{ task.name }}</td>
						<td>{{ task.description }}</td>
						<td class="actions">
							<a href="#" ng-click="editTask(task.id)"><img src="assets/img/icon-edit.png" alt="Edit" /></a>
							<a href="#" ng-click="deleteTask(task.id)"><img src="assets/img/icon-trash.png" alt="Delete" /></a>
						</td>
					</tr>
					<tr ng-hide="tasks.taskList">
						<td colspan="4">No results</td>
					</tr>
				</tbody>
				<tfoot ng-if="tasks.taskList">
					<tr>
						<td colspan="4">
							Total <output>{{ tasks.taskList.length }} itens</output>
						</td>
					</tr>
				</tfoot>
			</table>

			<div class="add_register">
				<button class="button default" ng-click="createTask()">Add</button>
			</div>

		</div>

		<div class="override" ng-show="showModalEdit || showModalAdd">
			<div class="modal" modal="showModalEdit" ng-show="showModalEdit">
				<header>
					<h2>Edit</h2>
				</header>
				<form novalidate="novalidate" id="frmEdit">
					<input type="hidden" id="taskID" />
					<input type="text" id="editName" placeholder="Name" class="input-text" required />
					<input type="text" id="editDescription" placeholder="Description" class="input-text" required />
					<div class="buttons">
						<button class="button default" ng-click="updateTask()">Edit</button>
						<button class="button success" ng-click="cancel('Edit')">Cancel</button>
					</div>
				</form>
			</div>

			<div class="modal" modal="showModalAdd" ng-show="showModalAdd">
				<header>
					<h2>Add</h2>
				</header>
				<form novalidate="novalidate" id="frmAdd">
					<input type="text" id="addName" placeholder="Name" class="input-text" required />
					<input type="text" id="addDescription" placeholder="Description" class="input-text" required />
					<div class="buttons">
						<button class="button default" ng-click="createNewTask()">Add</button>
						<button class="button success" ng-click="cancel('Add')">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</section>

	<footer role="contentinfo">
		<div class="wrapper">
			<ul class="social-icons">
				<li><a href="#"><img src="assets/img/icon-facebook.png" alt="Facebook" /></a></li>
				<li><a href="#"><img src="assets/img/icon-linkedin.png" alt="Linkedin" /></a></li>
				<li><a href="#"><img src="assets/img/icon-twitter.png" alt="Twitter" /></a></li>
				<li><a href="#"><img src="assets/img/icon-gplus.png" alt="Google+" /></a></li>
			</ul>
		</div>
	</footer>

	<script src="lib/jquery.js"></script>
	<script src="lib/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	<script src="assets/js/tasks.js"></script>
</body>
</html>